suncork.net 

gzip
root dist

tls kidandcat@gmail.com

proxy /socket.io/ localhost:3030 {
    websocket
}

proxy /status localhost:8080

rewrite / {
  if {path} not_has socket.io
  to {path} {path}/ /
}