suncork.net 

gzip
root dist

tls kidandcat@gmail.com

proxy /socket.io/ localhost:3030 {
    websocket
}

proxy /status http://localhost:8080 {
  transparent
}

rewrite / {
  if {path} not_has socket.io
  if {path} not_has status
  to {path} {path}/ /
}